<p>
	{{detilTiket}}
</p>

<div>
	<mat-card class="card">
	    <mat-card-header>
	      <div mat-card-avatar class="card-header-image"></div>
	      <mat-card-title>{{detilTiket.ticket_number}}</mat-card-title>
	      <mat-card-subtitle>{{detilTiket.ticket_status}}</mat-card-subtitle>
	    </mat-card-header>
	    <mat-card-content>
	     	<p>
	     	<b>Jenis Tiket :</b> {{detilTiket.subject}} <!-- (tiket subject) -->	
	     	</p>
	     	<p>
	     	<b>Departement :</b> {{detilTiket.department}} <!-- (tiket subject)	 -->
	     	</p>
	     	<p>
	     	<b>Dibuat :</b> {{detilTiket.create_timestamp}} <!-- (tiket subject) -->	
	     	</p>
	     	<p>
	     	<b>Tanggal :</b> {{detilTiket.last_message_timestamp}} <!-- (last massege/ tanggal terakhir tiket urus) -->
	     	</p>
	     	<div>
	     	<p></p>
	     	<p>Thread</p>
	     	<div *ngFor = "let thread of threads">
	     		<mat-card class="card">
	     		<mat-card-header>
		    		<mat-card-title>{{thread.model.poster}}</mat-card-title>
		    		<mat-card-subtitle>{{thread.model.created}}</mat-card-subtitle>
		    	</mat-card-header>
		    	<mat-card-content>
		    		{{thread.model.body}}
		    		<div *ngIf="thread.annotations.has_attachments" >
		    			<hr>
		    			<a class="link" (click)="download(thread.annotations.url,thread.annotations.name)" >{{thread.annotations.name}}</a>
		    			<small class="filesize faded">  {{thread.annotations.size}} bytes</small>
		    			<!-- <p>{{(thread.annotations.url).substring((thread.annotations.url).search("?")+1)}}</p> -->
		    		</div>
		    	</mat-card-content>
		    	</mat-card>
	     	</div>
	     	</div>
	    </mat-card-content>
	    <mat-card-actions>
	    	<div *ngIf="isStaff" >
    		 	<mat-label>Respose</mat-label>
    		 	<mat-select placeholder="Canned Respose" [(value)]="selectedRespon" (selectionChange)="responSelected($event)">
    		 		<mat-option>None</mat-option>
    		 		<mat-option value="original" >Original Message</mat-option>
    		 		<mat-option value="lastmessage" >Last Message</mat-option>
    		 		<mat-option disabled>---Premade Replies---</mat-option>
      				<mat-option *ngFor="let response of persiapanTiket.responses" [value]="response.id">{{response.title}}</mat-option>
    			</mat-select>
    		</div>
	    	<mat-form-field class="inPost-form-field">
      			<input matInput type="text" placeholder="Type Post,,," [(ngModel)]="value">
      			<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        			<mat-icon>close</mat-icon>
      			</button>
    		</mat-form-field>
    		<!-- style="display:none" -->
      		<input type="file" (change)="fileSelected($event)" #fileInput>
      		<button mat-button (click)="fileInput.click()" > <mat-icon>attach_file</mat-icon> </button>
    		<div *ngIf="isStaff" >
    		 	<mat-label>Ticket Status</mat-label>
    		 	<mat-select placeholder="Kategor Permasalhan" [(value)]="selectedStatus">
      				<mat-option *ngFor="let status of persiapanTiket.status" [value]="status.id">{{status.name}}</mat-option>
    			</mat-select>
    		</div>
	      	<button mat-button (click)="postClick()" >Post Reply</button>
	    </mat-card-actions>
	</mat-card>

	<button mat-mini-fab class="bottomRight" (click)="scroll()" color="primary" ><mat-icon>arrow_downward</mat-icon></button>
</div>
