<p>
	{{detilTiket}}
</p>

<div>
	<mat-card class="card">
	    <mat-card-header>
	      <div mat-card-avatar class="card-header-image"></div>
	      <mat-card-title>nomor tiket</mat-card-title>
	      <mat-card-subtitle>status tiket</mat-card-subtitle>
	    </mat-card-header>
	    <mat-card-content>
	     	<p>
	     	Jenis Tiket : Gangguan (tiket subject)	
	     	</p>
	     	

	     	<p>
	     	Tanggal : 27/07/2019 (last massege/ tanggal terakhir tiket urus)
	     	</p>	
	    </mat-card-content>
	    <mat-card-actions align="end">
	      <button mat-button>Open Tiket</button>
	    </mat-card-actions>
	</mat-card>	
</div>
