<mat-toolbar color="primary" class="header1">
  <div>halosis Mobile</div>
  <mat-button-toggle 
  [matMenuTriggerFor]="subMenu"
  
  color="accent"><mat-icon class="submenu1">more_vert</mat-icon></mat-button-toggle>
</mat-toolbar>

<mat-menu #subMenu="matMenu" class="subsubMenu">
  <div *ngFor="let sub of subs">
  <button mat-menu-item>{{sub}}</button>
    
  </div>
</mat-menu>

<div class="main1" [ngSwitch]="ready">

  <div *ngSwitchCase="'yes'">
      <router-outlet></router-outlet>
  </div>

  <div *ngSwitchCase="'test'">
  <div >
      <div *ngFor="let card of cards">
        <mat-card class="card" tabindex="0">
          <mat-card-header>
            <div mat-card-avatar class="card-header-image"></div>
            <mat-card-title>{{card.nama}}</mat-card-title>
            <mat-card-subtitle>{{card.jenis}}</mat-card-subtitle>
          </mat-card-header>
            header kartu, bisa masukkan gambar
          <mat-card-content>
            <p>
              Detil tenteng kartu
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>

  </div>
  
  <div class="loader"  *ngSwitchCase="'no'"><mat-spinner id="spiner"></mat-spinner></div>
</div>

<mat-toolbar class="mainMenu1" color="accent">
  <a mat-button routerLink="/home" routerLinkActive="active"><mat-icon id="menuHome1" class="mainButton1">home</mat-icon></a>
  <a mat-button routerLink="/tiket" routerLinkActive="active"><mat-icon id="menuTiket1" class="mainButton1">loyalty</mat-icon></a>
  <a mat-button routerLink="/chat" routerLinkActive="active"><mat-icon id="menuChat1" class="mainButton1">question_answer</mat-icon></a>
</mat-toolbar>